<a href="https://colab.research.google.com/github/je-r/TensorFlow/blob/master/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# import Pandas and show its version:
from __future__ import print_function
import pandas as pd
pd.__version__

'0.22.0'

In [5]:
# example how to create Series object:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

In [7]:
# DataFrame object consists of rows and named columns,
# so column-wise DataFrame consists of Series 
# of column names, and one Series of values for each column:

city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199